{% extends 'home.html' %}
{% load static %}

{% block contenido %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            {% if animal %}
                <h2>Animal Encontrado:</h2>
                <form id="editar-animal-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="animal_id" value="{{ animal.id }}">  <!-- Agregar este campo oculto -->
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <input type="text" class="form-control" id="sexo" name="sexo" value="{{ animal.sexo }}">
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input type="text" class="form-control" id="edad" name="edad" value="{{ animal.edad }}">
                    </div>
                    <div class="form-group">
                        <label for="descripcion"><b>Descripción:</b></label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ animal.descripcion }}">
                    </div>
                    <div class="form-group">
                        <label for="estado_salud">Estado de Salud:</label>
                        <input type="text" class="form-control" id="estado_salud" name="estado_salud" value="{{ animal.estado_salud }}">
                    </div>
                    <button id="btn-guardar-cambios" type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            {% else %}
                <p>No se encontraron animales que coincidan con la búsqueda.</p>
            {% endif %}
        </div>
    </div>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <script>
        // Redirigir a la página de búsqueda después de 2 segundos
        setTimeout(function() {
            window.location.href = '{% url "buscar" %}';
        }, 2000);
    </script>
{% endblock contenido %}