{% extends 'home.html' %}
{% load static %}
{% block contenido %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><center>Ingresar Datos del Perro/a</center></h5>
                    
                    {% if not user.is_authenticated %}
                     <p>Debes <a href="{% url 'login' %}">iniciar sesión</a> para guardar los datos.</p>
                    {% endif %}
                    
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    <form method="POST" onsubmit="return verificarAutenticacion()">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_sexo" class="form-label">Sexo</label>
                            {{ perro_form.sexo }}
                        </div>
                        <div class="mb-3">
                            <label for="id_edad" class="form-label">Edad</label>
                            {{ perro_form.edad }}
                        </div>
                        <div class="mb-3">
                            <label for="id_descripcion" class="form-label">Descripción</label>
                            <div class="input-group">
                                {{ perro_form.descripcion }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id_estado_salud" class="form-label">Estado de Salud</label>
                            <div class="input-group">
                                {{ perro_form.estado_salud }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id_raza" class="form-label">Raza</label>
                            {{ perro_form.raza }}
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: #145A32 !important;" {% if not user.is_authenticated %}disabled{% endif %}>Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function verificarAutenticacion() {
            var isAuthenticated = "{{ user.is_authenticated|yesno:'true,false' }}" === 'true';
            if (!isAuthenticated) {
                alert('Debes iniciar sesión para guardar los datos.');
                return false; // Evita el envío del formulario
            }
            return true; // Permite el envío del formulario si el usuario está autenticado
        }

        function limpiarCampos() {
            document.getElementById('id_sexo').value = '';
            document.getElementById('id_edad').value = '';
            document.getElementById('id_descripcion').value = '';
            document.getElementById('id_estado_salud').value = '';
            document.getElementById('id_raza').value = '';
        }

        function validarFormulario() {
            var sexo = document.getElementById('id_sexo').value;
            var edad = document.getElementById('id_edad').value;
            var descripcion = document.getElementById('id_descripcion').value;
            var estadoSalud = document.getElementById('id_estado_salud').value;
            var raza = document.getElementById('id_raza').value;

            if (sexo === '' || edad === '' || descripcion === '' || estadoSalud === '' || raza === '') {
                alert('Por favor, completa todos los campos.');
                return false; // Detiene el envío del formulario
            }

            limpiarCampos(); // Limpia los campos si todos los campos están completos
            return true; // Envía el formulario si todos los campos están completos
        }
    </script>
{% endblock contenido %}